* {
    margin: 0;
    padding: 0;
}
  
/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.visible {
    visibility: visible;
}

.unseen {
    visibility: hidden;
}